services:
    runner:
        image: alisalehi1380/github-actions:${RUNNER_VERSION}
        restart: on-failure:10
        mem_limit: '1G'
        cpus: '1.0'
        volumes:
            - runner-work:${RUNNER_HOME_PATH}/${RUNNER_DIRECTORY}
        depends_on:
            - dind
        networks:
            - github-runner
        # deploy:
        #     mode: replicated
        #     replicas: 1
        #     resources:
        #         limits:
        #             cpus: '0.5'
        #             memory: 512M
        #         reservations:
        #             cpus: '0.4'
        #             memory: 256M

    dind:
        image: docker
        hostname: docker
        privileged: true
        restart: on-failure:10
        expose:
            - "${DIND_PORT}"
        healthcheck:
            test: [ "CMD", "pgrep", "dockerd" ]
            interval: 10s
            timeout: 30s
            retries: 10
        environment:
            DOCKER_TLS_CERTDIR: "" # Disable TLS for simplicity
            DOCKER_HOST: dind
        networks:
            - github-runner

volumes:
    runner-work:

networks:
    github-runner:
        driver: bridge
