services:
    runner:
        build:
            context: ./docker
            dockerfile: ../docker/Dockerfile
        restart: on-failure:10
        mem_limit: '1G'
        cpus: '1.0'
        volumes:
            - runner-data:${RUNNER_HOME}/github-self-hosted-runner
            - runner-docker-data:${RUNNER_HOME}/.docker
        depends_on:
            - dind
        networks:
            - github-runner
        # deploy:
        #     mode: replicated
        #     replicas: 1
        #     resources:
        #         limits:
        #             cpus: '0.5'
        #             memory: 512M
        #         reservations:
        #             cpus: '0.4'
        #             memory: 256M

    dind:
        image: docker
        hostname: docker
        privileged: true
        restart: on-failure:10
        expose:
            - "${DIND_PORT}"
        healthcheck:
            test: [ "CMD", "pgrep", "dockerd" ]
            interval: 10s
            timeout: 30s
            retries: 10
        environment:
            DOCKER_TLS_CERTDIR: ${DOCKER_TLS_CERTDIR}
        volumes:
            - dind-data:/var/lib/docker
        networks:
            - github-runner

volumes:
    runner-data:
    runner-docker-data:
    dind-data:

networks:
    github-runner:
